---
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero
    title="Astro"
    description="Astro is a static site builder for the web."
  />
  <Section
    title="Features"
    description="Astro has many features that make it a great choice for building static sites."
  >
    <p>Astro is a static site builder for the web.</p>
  </Section>
</Layout>
