---
type Props = {
  navItems: {
    label: string;
    href: string;
  }[];
};
const { navItems = [] }: Props = Astro.props;
---

<header>
  <div class="container py-2">
    <nav class="flex items-center justify-between">
      <div>
        <a href="/" class="text-xl font-bold uppercase">Niwux</a>
      </div>
      <div class="hidden gap-4 md:flex">
        {navItems.map((item) => <a href={item.href}>{item.label}</a>)}
      </div>
      <div>
        <a href="/login">Login</a>
      </div>
    </nav>
  </div>
</header>
