---
import Header from "../components/Header.astro";
import "@fontsource-variable/nunito-sans";
import "@fontsource/sue-ellen-francisco";
import Footer from "../components/Footer.astro";

type Props = {
  title?: string;
};
const { title }: Props = Astro.props;

const navItems = [
  { label: "Home", href: "/" },
  { label: "About", href: "/about" },
  { label: "Work", href: "/work" },
  { label: "Services", href: "/services" },
  { label: "Blog", href: "/blog" },
  { label: "Contact", href: "/contact" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} - Niwux` : "Niwux"}</title></head
  >

  <body>
    <Header navItems={navItems} />
    <slot />
    <Footer navItems={navItems} />
  </body>
</html>
